.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(208, 219, 180);
  height: 50vh;
  width: 50vh;
  border-radius: 5px;
  box-shadow: -3px 4px 7px red;
  padding: 50px;
}

@media screen and (min-width: 576px) {
  .card {
    background-color: steelblue;
  }
}
@media screen and (min-width: 768px) {
  .card {
    background-color: rgb(88, 29, 88);
  }
}

@media screen and (min-width: 992px) {
  .card {
    background-color: rgb(59, 9, 59);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    background-color: rgb(21, 167, 21);
  }
}
